 :root{
     --middle-back:linear-gradient(to top right ,white,rgb(254, 197, 197));
     --color-btnnav:linear-gradient(to top left ,rgb(193, 171, 75),rgb(158, 198, 205));
     
     --body-gradient: linear-gradient(to top right,rgb(247, 244, 164),rgba(124, 212, 185, 0.504)); 
    
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
      }
 body{
     
     display:grid;
     background-color: #477d7d;
     grid-auto-rows: 6rem 70rem 10rem;
 }
 .navigator { 
     
   display:flex;
    background:var(--body-gradient);
    position:relative;
    position:sticky;
}
.list-navigators{
display:flex;
position:absolute;
gap:1rem;
float:right;
margin-left:50rem;

margin-top:3rem;
}
ul{
    font-family: 'Arial Narrow';
    list-style-type:none;
}
li{
    color:var(--color-btnnav);
    text-decoration: none;
    font-size: 1.5rem;
}
a{
    text-decoration:none;
}
footer{
    height:2rem;
    background-color:rgb(5, 69, 69);
}
.middle{
    background:var(--middle-back);
    display:grid;
}
.first-body{
    background-image:url(book2.webp);
}



  .searchtotal{width:14.6rem;
    margin-left:10rem;
      margin-top:2rem;
      height:1.5rem;
      background-color: black;
      display:flex;
      
  }
  .search{
      
      
      width:13rem;
      height:1.5rem;
      
  }
  .btn-search{
      border-radius:none;  
      height:1.5rem;
      background-color:rgb(236, 246, 223);
  }
  .btn-search:hover{
    background-color:rgb(198, 220, 167);

  }
  #search-image{
      
      width:1.5rem;
      height:1.5rem;
      color:black;
  }