<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheet/login/stylehome.css'>
  
</head>
<body>
    <div class="navigator ">
        <div class="searchtotal">
        <input type="text" name="searchBook" class="search" placeholder=" Search Book Title/Author">
        <button class="btn-search"><img id="search-image" src="/images/login/search-solid.svg" alt="search"></button>
         </div>
        <ul class="list-navigators">
            <li class="btnnav"  ><a href="#">Home</a><li>
            <li class="btnnav"  ><a href="#">contact2</a><li>
            <li class="btnnav"  ><a href="#">contact3</a><li>
            <li class="btnnav"  ><a href="/home/login">SIGN IN</a><li>
                
        </ul>
    </div>
    <div class="middle">
        <div class="first-body">
          <div class="proverb-container">
            <div class="proverb">
            የጥበብ መጀመሪያ እግዚአብሔርን መፍራት ነው፤ ሰነፎች ግን ጥበብንና ተግሣጽን ይንቃሉ። ልጄ
            ሆይ፥ የአባትህን ምክር ስማ፥ የእናንትህንም ሕግ አትተው፤ ለራስህ የሞገስ ዘውድ ለአንገትህም ድሪ
            ይሆንልሃልና[ ]
            </div>
          </div>
        </div>
         <div class="aboutus">

         </div>
    </div>
    <div class="footer">footer</div>
    <div class="popup-window hidden">
        <button class="closebtn">&times;</button>
        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author</th>
                <th>Gener</th>
                <th>Stored</th>
                <th>BookID</th>
            </tr>
        </table>
    </div>
    
  <script src="/script/login/script.js"  ></script>
</body>
</html>